{% extends 'main_app/base.html' %}
{% load static %}
{% block custom_css %}
  <style>
      .invalid{
        font-style: italic;
        font-weight: bold;
        color: red;
      }
      .valid{
        font-style: italic;
        font-weight: bold;
        color: green;
      }
  </style>
{% endblock custom_css %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    {% include "main_app/form_template.html" with messages=messages  form=form button_text="Add Student"%}
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block custom_js %}
<script>
    function validateEmail(email) {
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
    $(document).ready(function(){
        $("#id_email").keyup(function(){
            
            var email = $(this).val()
            if (validateEmail(email)){
            $.ajax({
                url: "{% url 'check_email_availability' %}",
                type: 'POST',
                data:{email:email}
            }).done(function(response){
                if (response == "True"){
                    $(".email_error").remove()
                    $("<span class='invalid email_error'>Email Address Already Exist</span>").insertAfter("#id_email");
                }
                else{
                    $(".email_error").remove()

                    $("<span class='valid email_error'>Email Address Available</span>").insertAfter("#id_email");
                }
            }).fail(function(response){
                $("<span class='alert alert-warning'>Server Could Not Process This</span>").insertAfter("#id_email");
            })
        }
        })
    });

    function getMembershipValue(sessionStartYear) {
        console.log(sessionStartYear);
        const year = new Date(sessionStartYear).getFullYear();
        const fallStart = new Date(year, 8, 1); // 8 means September (January is 0)
        const fallEnd = new Date(year, 11, 31);
        const winterStart = new Date(year, 0, 1); // 0 means January
        const winterEnd = new Date(year, 3, 30); // 3 means April
        const summerStart = new Date(year, 4, 1); // 4 means May
        const summerEnd = new Date(year, 7, 31); // 7 means August

        if (sessionStartYear >= fallStart && sessionStartYear <= fallEnd) {
            return "Fall " + year;
        } else if (sessionStartYear >= winterStart && sessionStartYear <= winterEnd) {
            return "Winter " + year;
        } else if (sessionStartYear >= summerStart && sessionStartYear <= summerEnd) {
            return "Summer " + year;
        } else {
            return "";
        }
    }

    const sessionField = document.getElementById("id_session");
    const membershipField = document.getElementById("id_membership");

    function updateMembershipValue() {
        const selectedSession = sessionField.value;
        let sessionYear = new Date();
        const url = `/get_session_data/${selectedSession}/`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                sessionYear = new Date(data.start_year);
                sessionYear.setDate(sessionYear.getDate() + 1);
                const membershipValue = getMembershipValue(sessionYear);
                membershipField.value = membershipValue;
                // You can now access the specific session data, e.g., data.id, data.start_year, data.end_year, etc.
            })
            .catch(error => {
                console.error("Error fetching session data:", error);
                membershipField.value = "";
            });
    }

    sessionField.addEventListener("change", function () {
        const selectedSessionValue = sessionField.options[sessionField.selectedIndex].text;

        // Call the function to update the membership value based on the selected session
        updateMembershipValue();
    })
</script>
{% endblock custom_js %}