{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Amount: </label>
                                <input type="number" id="amount" name="amount" placeholder="Enter Amount:" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Currency: </label>
                                <select id="currency" name="currency" class="form-control">
                                    <option value="cad">(CAD) - Canadian Dollar</option>
                                    <option value="usd">(USD) - United States Dollar</option>
                                    <option value="inr">(INR) - Indian Rupees</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" id="submitBtn">Make Payment!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block custom_js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}